.toolbar{
  background-color: #e7e7e7;
  padding: 0.5em;
  text-align: center;
}

.logo{
  max-width: 150px;
  max-height: 250px;
  display: block;
  width: auto;
  height: auto;
}
.logo:hover{
  cursor: pointer;
}
