.container {
  height: 55vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container button {
  border-radius: 8px;
  padding: 12px 28px;
  font-size: 16px;
  background-color: #e7e7e7;
  color: black;
}
