<div class="calculator">

  <input type="text" class="calculator__output" [value]="currentNumber" disabled/>
  <div class="calculator__keys">

    <button class="calculator__key calculator__key--operator" (click)="getOperation('+')">+</button>
    <button class="calculator__key calculator__key--operator" (click)="getOperation('-')">-</button>
    <button class="calculator__key calculator__key--operator" (click)="getOperation('*')">&times;</button>
    <button class="calculator__key calculator__key--operator" (click)="getOperation('/')">÷</button>

    <button class="calculator__key" (click)="getNumber('7')">7</button>
    <button class="calculator__key" (click)="getNumber('8')">8</button>
    <button class="calculator__key" (click)="getNumber('9')">9</button>
    <button class="calculator__key" (click)="getNumber('4')">4</button>
    <button class="calculator__key" (click)="getNumber('5')">5</button>
    <button class="calculator__key" (click)="getNumber('6')">6</button>
    <button class="calculator__key" (click)="getNumber('1')">1</button>
    <button class="calculator__key" (click)="getNumber('2')">2</button>
    <button class="calculator__key" (click)="getNumber('3')">3</button>
    <button class="calculator__key" (click)="getNumber('0')">0</button>

    <button class="calculator__key" (click)="getDecimal()">.</button>
    <button class="calculator__key" (click)="clear()">AC</button>

    <button class="calculator__key calculator__key--enter" (click)="getOperation('=')">=</button>
  </div>
</div>


